
#menu-h ul{
    list-style: none;
    padding: 0;
    background-color: rgb(133, 133, 141);

}

#menu-h ul li{
    display: inline;
}

#menu-h ul li a{
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover{
    background-color: var(--verde-principal);
}

#menu-h ul li:last-child a{
    float: right;   
    background-color: var(--verde-principal);
    width: 47px;
    text-align: center;
    padding-left: 18px;

}
